<!-- 
<div class="slideshow">
  <img src="assets/admin1.jpg" alt="photo-1">
  <img src="assets/admin2.jpg" alt="photo-2">
  <img src="assets/admin3.jpg" alt="photo-3">
  <img src="assets/admin4.jpg" alt="photo-4">
</div> -->
<div class="container">
  <h1>Upload Department Details</h1>
  <form (submit)="onSubmit()" enctype="multipart/form-data">
    <div>
      <label for="departmentName">Department Name:</label>
      <input
        type="text"
        id="departmentName"
        [(ngModel)]="departmentName"
        name="departmentName"
        required
      />
    </div>

    <div>
      <label for="departmentFile">Upload Department File:</label>
      <input
        type="file"
        id="departmentFile"
        (change)="onFileSelected($event)"
        required
      />
    </div>

    <button type="submit">Upload</button>
  </form>

  <!-- Optional: Display success or error message -->
  <div *ngIf="uploadSuccess" class="success">Upload successful!</div>
  <div *ngIf="uploadError" class="error">{{ uploadError }}</div>
</div>

<div class="container">
  <h1>Upload Hospital Map</h1>
  <div class="upload-section">
    <label for="fileUpload">Upload Hospital Map (GeoJSON):</label>
    <input type="file" id="fileUpload" />
  </div>
  <button type="button">Upload</button>
  <div class="map-container">
    <img src="assets/KR-hospital.png" alt="Hospital Map" />
  </div>
</div>