<div class="sidebar">
  <div class="logo"><img src="assets/2-Photoroom.png" alt="logo"></div>
  <nav>
    <a (click)="home()" >Home</a>
    <a (click)="search()">Search Path</a>
    <a (click)="departments()">Active Departments</a>
    <a (click)="facility()">Facility</a>
    <a (click)="emergency()">Emergency Services</a>
    <a (click)="suggetion()">F&Qs</a>
  </nav>
</div>

<div class="content">
  <!-- Header Section -->
  <header>
    <div>
      <h1>Welcome to HealthWay - Your Hospital Navigation Companion</h1>
      <b><p>Navigating Health, Guiding Hope: Where Every Step Leads to Care and Comfort</p></b>
      <br><br><br>
      <a (click)="scan()" class="cta-button">Scan Now</a>
    </div>
  </header>

  
  <!-- Features Section -->
  <section class="features">
    <div class="feature-card">
      <div class="icon">📍</div>
      <h3>Real-Time Navigation</h3>
      <p>Get precise directions to your department instantly, no matter where you are in the hospital.</p>
    </div>
    <div class="feature-card">
      <div class="icon">🔊</div>
      <h3>Voice-Guided Assistance</h3>
      <p>Receive turn-by-turn audio instructions, hands-free, making your journey smoother and faster.</p>
    </div>
    <div class="feature-card">
      <div class="icon">📅</div>
      <h3>Appointment-Based Routing</h3>
      <p>Navigate directly to your appointment room with personalized routing based on your schedule.</p>
    </div>
  </section>



  <section id="team-mem">
    <h2>Meet Our Team</h2>
    <ul>
      <li>Mohammed Ashif R</li>
      <li>Rithik Patel S M</li>
      <li>Monish L</li>
      <li>Poornachandra S S</li>
    </ul>
  </section>

  <footer>
    <p>© 2024 HealthWay. All rights reserved.</p>
    <div class="social-links">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">LinkedIn</a>
    </div>
  </footer>

</div>